<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>

      <!-- menu de pied de page -->
      {{ if .Site.Menus.footer }}
      <div>
        <nav>
          {{ range .Site.Menus.footer }}
          <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .URL }}" >
            {{ .Name }}
          </a>
          {{ end }}
        <nav>
      </div>
      {{ end }}
      <!-- fin du menu de pied de page -->
      
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
